<IfModule mod_rewrite.c>
    RewriteEngine On

    # 1. Izinkan akses langsung ke file nyata (seperti CSS, JS, atau gambar gambar di folder public)
    RewriteCond %{DOCUMENT_ROOT}/public/$1 -f [OR]
    RewriteCond %{DOCUMENT_ROOT}/public/$1 -d
    RewriteRule ^(.*)$ public/$1 [L]

    # 2. Arahkan semua URL sisanya (seperti /login) ke mesin pemroses Laravel
    RewriteRule ^(.*)$ public/index.php [L]
</IfModule>